.SettingBox{
    width: 400px;
    height: 300px;
    background: #0000002b;
    border-radius: 10px;
    box-shadow: 0 0 6px #000000bd;

    &Title{
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        height: 40px;
        background: #0000002b;
        border-bottom: 1px solid #00000059;
    }

    &Line{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 10px 0px 10px 0px;
    }

    &LineText{
        font-size: 14px;
    }

    &SingleLine{
        background: #b5b5b5a3;
        width: 25%;
        height: 1px;
    }
}

.CenterContents{
    display: flex;
    align-items: center;
    justify-content: center;
}

.CenterAndFitCheckboxes{
    display: flex;
    overflow-y: auto;
    height: 50%;
    padding: 10px;
    flex-direction: column;
    align-items: center;
}