.SettingBox{
    width: 400px;
    height: 120px;
    background: #0000002b;
    border-radius: 10px;
    box-shadow: 0 0 6px #000000bd;

    &Title{
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        height: 40px;
        background: #0000002b;
        border-bottom: 1px solid #00000059;
    }
}

.InsideBox{
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    height: calc(100% - 40px);
}

.SliderText{
    font-size: 20px;
}