.LoginComponent {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
}

.LoginBox {
    background: #00000073;
    border: 3px #00000075 solid;
    border-radius: 10px;
}