.CourseItem {
    //background: #00000038;
    width: 350px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 10px;
    box-shadow: 0 0 5px black;
    cursor: default;
}

.CourseItem:hover {
    //background: #26262638;
    cursor: pointer;
}

.CourseItem:active {
    //background: #33333338;
    cursor: pointer;
}

.CourseItemDisabled {
    background: #00000038;
}

.CourseItemDisabled:hover {
    background: #26262638;
}

.CourseItemDisabled:active {
    background: #33333338;
}

.CourseItemEnabled {
    background: #007c0938;
}

.CourseItemEnabled:hover {
    background: #00650738;
}

.CourseItemEnabled:active {
    background: #01530638;
}

.CourseTitle{
    color: white;
    //font-size: 20px;
    font-weight: 600;
    margin-bottom: 5px;
}

.CourseInnerBox{
    display: flex;
    width: 100%;
    justify-content: center;
    flex-direction: column;
}

.ViewCourse{
    text-decoration: none !important;
    color: #70a3ff !important;
    font-weight: 700;
    font-size: 14px;
    cursor: help;
}